@model RoottoriV1._2.Models.MalliE25RiTyokalut

<div>
    <h4>MalliE25RiTyokalut</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Kesto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kesto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KirjastoTyokalut.TyokalunNimi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KirjastoTyokalut.TyokalunNimi)
        </dd>

    </dl>
</div>
<p></p>
<br />
<br />
<div class="form-group">
    <div class="col-md-offset-2 col-md-10">
        @Html.ActionLink("Close", "Index", null, new { @class = "btn btn-primary btn-sm" })
    </div>
</div>
