@model RoottoriV1._2.Models.Karjet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Karjet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.KarkiMalli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KarkiMalli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImageLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ImageLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.KarkiID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
