@model IEnumerable<RoottoriV1._2.Models.KirjastoTyokalut>

@{
    ViewBag.Title = "Suunnittelija";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Mallin E25R Työkalulistaus</h4>
        <hr />
        <table class="table">
            <tr>
                <th>Tyokalun Nimi</th>
                <th>Pituus</th>
                <th>Halkaisija</th>
                <th>Pala</th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.TyokalunNimi</td>
                    <td>@item.Pituus</td>
                    <td>@item.Halkaisija</td>
                    <td>@item.Pala</td>
                    <td>
                        
                        
                        <button type="submit" name="TyokaluID" value="@item.TyokaluID" >Lisää</button>

                    </td>
                </tr>
            }
        </table>
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index")
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}