@*Malli E25R työkalut*@
@model IEnumerable<RoottoriV1._2.Models.MalliE25RTyokalut>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

@*Edit Kesto modal  scripti*@
<script>
    function loadEditForm(id) {
        var url = '/MalliE25RTyokalut/Edit/' + id; // Osoite, josta lomake ladataan
        $.get(url).done(function (data) {
            $('#editModal .modal-body').html(data);
            $('#editModal').modal('show');
        });
    }
</script>

<script>
    function kuittaa(tyokaluNro, button) {

        button.style.backgroundColor = "green";
        button.innerText = "Kuitattu";
        /*alert("Työkalu kuitattu: " + tyokaluNro);*/
    }
</script>

@*Otsikko ryhmä - Jani*@
<div class="row">
    <div class="col-auto">
        <h2>E25R työkalut</h2>
    </div>
    <div class="col-auto">
        <a class="btn button2" href="~/Roottorit/E25R">Asetus näkymä</a>
    </div>
    <div class="col">
        <a class="btn button3 SessionIn" href="/MalliE25RTyokalut/Create">Lisää Työkaluja malliin</a>
    </div>
</div>
<br />
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.KirjastoTyokalut.TyokaluNro)</th>
        <th>@Html.DisplayNameFor(model => model.KirjastoTyokalut.TyokalunNimi)</th>
        <th>@Html.DisplayNameFor(model => model.KirjastoTyokalut.Halkaisija)</th>
        <th>@Html.DisplayNameFor(model => model.KirjastoTyokalut.Pala)</th>
        <th>Huolto</th>
        <th>Kesto</th>
        <th>Lisätiedot</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <td>@Html.DisplayFor(modelItem => item.KirjastoTyokalut.TyokaluNro)</td>
            <td>@Html.DisplayFor(modelItem => item.KirjastoTyokalut.TyokalunNimi)</td>
            <td>@Html.DisplayFor(modelItem => item.KirjastoTyokalut.Halkaisija)</td>
            <td>@Html.DisplayFor(modelItem => item.KirjastoTyokalut.Pala)</td>
            <td><button type="button" class="btn btn-secondary" onclick="kuittaa(@item.KirjastoTyokalut.TyokaluNro, this)">Kuittaa</button></td>
            <td><a href="javascript:void(0);" onclick="loadEditForm(@item.TyokaluPaikka)" class="btn button2 btn-sm">Muokkaa Kesto: @item.Kesto min</a>
            <td><a href="@item.KirjastoTyokalut.ImageLink" class="btn button2 btn-sm" target="_blank" rel="noopener noreferrer">Näytä</a></td>
            <td><a class="btn button2 SessionIn" href="/MalliE25RTyokalut/Delete?id=@item.TyokaluPaikka">Poista mallilta</a></td>

        </tr>
    }
</table>


<!-- Edit Kesto Modal ikkuna tässä -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Muokkaa kestoa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

            </div>

        </div>
    </div>
</div>
@section Scripts
{
    @if (Session["UserName"] == null)
    {
        <script>
            window.onload = function () {
                var sessionInElements = document.querySelectorAll(".SessionIn");
                sessionInElements.forEach(function (element) {
                    element.style.display = "none";
                });
            };

        </script>
    }
}