@model RoottoriV1._2.Models.Leuat

@{
    ViewBag.Title = "Suunnittelija";
}

<h2>Leuan Lisätiedot</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Leuat1)</dt>
        <dd>@Html.DisplayFor(model => model.Leuat1)</dd>
        <dt>@Html.DisplayNameFor(model => model.LeukaAsetus)</dt>
        <dd>@Html.DisplayFor(model => model.LeukaAsetus)</dd>
        <dt>@Html.DisplayNameFor(model => model.Leukapaine)</dt>
        <dd>@Html.DisplayFor(model => model.Leukapaine)</dd>
        <dt>@Html.DisplayNameFor(model => model.ImageLink)</dt>
        <dd>@Html.DisplayFor(model => model.ImageLink)</dd>

    </dl>
</div>

    <a class="btn button2" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>

