@*"Työkalu Kirjasto"  KirjastoTyokalut**@﻿

@model IEnumerable<RoottoriV1._2.Models.KirjastoTyokalut>

@{
    ViewBag.Title = "Työkalut";
}
@*Työkalukirjasto @Jani *@
<th class="container">
    @using (Html.BeginForm("Index", "KirjastoTyokalut", FormMethod.Get))
    {       

        @*Otsikko ryhmä - Jani*@
    <div class="row">
        <div class="col-auto">
            <h2>Työkalukirjasto</h2>
        </div>
        <div class="col-auto">
            <input class="form" id="searchString1" name="searchString1" placeholder="Haku" style="width:200px;" type="text" value="">
        </div>
        <div class="col-md-5">
            <input class="btn button2 btn-sm" type="submit" value="Etsi" />
        </div>
        <div class="col-auto">
            <a class="btn button2" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
        </div>
        <div class="col">
            <a class="btn button3 SessionIn" data-toggle="tooltip" data-placement="bottom" title="Lisää työkalutieto" href="/KirjastoTyokalut/Create"><img src="~/Icons/plus.svg" width="24" height="24" aria-label="Luo" />Työkalu</a>
        </div>
    </div>
    }
    <br />
    <table class="table">
        <thead>
            <tr>
                <th><p>Kategoria</p></th>
                <th><p>TKnro</p></th>
                <th><p>Työkalun nimi</p></th>
                <th><p>Pituus</p></th>
                <th><p>Halkaisija</p></th>
                <th><p>Pala</p></th>
                <th><p>Kone</p></th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.TyokaluKategoriaID)</td>
                    <td>@Html.DisplayFor(modelItem => item.TyokaluNro)</td>
                    <td>@Html.DisplayFor(modelItem => item.TyokalunNimi)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pituus)</td>
                    <td>@Html.DisplayFor(modelItem => item.Halkaisija)</td>
                    <td>@Html.DisplayFor(modelItem => item.Pala)</td>
                    <td>@Html.DisplayFor(modelItem => item.Koneet.Kone)</td>


                    <td>
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <a class="btn button2" href="@item.ImageLink" target="_blank">Lisätiedot</a>
                            <a class="btn btn-secondary SessionIn" data-toggle="tooltip" data-placement="bottom" title="Editoi" href="/KirjastoTyokalut/Edit?id=@item.TyokaluID"><img src="~/Icons/pen.svg" width="12" height="12" /></a>
                            <a class="btn btn-warning SessionIn" data-toggle="tooltip" data-placement="bottom" title="Poista" href="/KirjastoTyokalut/Delete?id=@item.TyokaluID"><img src="~/Icons/x-circle.svg" width="12" height="12" /></a>
                        </div>
                    </td>

                </tr>
            }
        </tbody>
    </table>

    @*Sortteeraus script*@

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
        <script>
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;
            const comparer = (idx, asc) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && !isNaN(v1) && !isNaN(v2) ? v1 - v2 : v1.toString().localeCompare(v2)
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));
            document.querySelectorAll('th').forEach(th => th.addEventListener('click', (() => {
                const table = th.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc))
                    .forEach(tr => tbody.appendChild(tr));
            })));
        </script>

        @if (Session["UserName"] == null)
        {
            <script>
                window.onload = function () {
                    var sessionInElements = document.querySelectorAll(".SessionIn");
                    sessionInElements.forEach(function (element) {
                        element.style.display = "none";
                    });
                };

            </script>
        }

    }

