﻿@model IEnumerable<RoottoriV1._2.Models.KirjastoTyokalut>

@{
    ViewBag.Title = "Mazak500";
}
<div class="row">
    <div class="col-4">
        <a class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
    </div>
    <div class="col-auto">
        <h2>Mazak500</h2>
    </div>
</div>

<p>@* @Html.ActionLink("Create New", "Create") *@</p>

<table class="table">
    <thead>
        <tr>

            <th>TKnro</th>
            <th>@Html.DisplayNameFor(model => model.TyokalunNimi)</th>
            <th>@Html.DisplayNameFor(model => model.Pituus)</th>
            <th>@Html.DisplayNameFor(model => model.Halkaisija)</th>
            <th>@Html.DisplayNameFor(model => model.Pala)</th>

            @*Jätetään kehitys ajaksi jos halutaan ottaa käyttöön *@
            @*<th>@Html.DisplayNameFor(model => model.ImageLink)</th>*@

            @*Kone sarake turha koska näkymä on osoitettu konekohtaisesti *@
            @* <th>@Html.DisplayNameFor(model => model.Koneet.Kone)</th> *@

            <th>Kategoria</th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="table">

                <td>@Html.DisplayFor(modelItem => item.TyokaluNro)</td>
                <td>@item.TyokalunNimi</td>

                @*Jätetään kehitys ajaksi jos halutaan ottaa käyttöön *@
                @*<td>@Html.DisplayFor(modelItem => item.TyokalunNimi)</td>*@

                <td>@Html.DisplayFor(modelItem => item.Pituus)</td>
                <td>@Html.DisplayFor(modelItem => item.Halkaisija)</td>
                <td>@Html.DisplayFor(modelItem => item.Pala)</td>

                @*Jätetään kehitys ajaksi jos halutaan ottaa käyttöön *@
                @*<td><a href="@item.ImageLink">Linkki</a></td>*@

                @*Kone sarake turha koska näkymä on osoitettu konekohtaisesti *@
                @* <td>@Html.DisplayFor(modelItem => item.Koneet.Kone)</td> *@

                <td>@Html.DisplayFor(modelItem => item.TyokaluKategoriaID)</td>
                <td>

                    <a class="btn btn-dark" href="@item.ImageLink">Lisätiedot</a>

                    @*
                        @Html.ActionLink("Edit", "Edit", new { id = item.TyokaluID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.TyokaluID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.TyokaluID })
                    *@
                </td>
            </tr>
        }
    </tbody>
</table>