@model RoottoriV1._2.Models.Roottorit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Roottorit</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>@Html.DisplayNameFor(model => model.Malli)</dt>

        <dd>@Html.DisplayFor(model => model.Malli)</dd>

        <dt>@Html.DisplayNameFor(model => model.RaakaAine)</dt>

        <dd>@Html.DisplayFor(model => model.RaakaAine)</dd>

        <dt>@Html.DisplayNameFor(model => model.Pituus)</dt>

        <dd>@Html.DisplayFor(model => model.Pituus)</dd>

        <dt>@Html.DisplayNameFor(model => model.Halkaisija)</dt>

        <dd>@Html.DisplayFor(model => model.Halkaisija)</dd>

        <dt>@Html.DisplayNameFor(model => model.Kiinnityspinta)</dt>

        <dd>@Html.DisplayFor(model => model.Kiinnityspinta)</dd>

        <dt>@Html.DisplayNameFor(model => model.OhjNrot)</dt>

        <dd>@Html.DisplayFor(model => model.OhjNrot)</dd>

        <dt>@Html.DisplayNameFor(model => model.Karjet.KarkiMalli)</dt>

        <dd>@Html.DisplayFor(model => model.Karjet.KarkiMalli)</dd>

        <dt>@Html.DisplayNameFor(model => model.Koneet.Kone)</dt>

        <dd>@Html.DisplayFor(model => model.Koneet.Kone)</dd>

        <dt>@Html.DisplayNameFor(model => model.Leuat.Leuat1)</dt>

        <dd>@Html.DisplayFor(model => model.Leuat.Leuat1)</dd>

        <dt>@Html.DisplayNameFor(model => model.Magneetit.Magneetti)</dt>

        <dd>@Html.DisplayFor(model => model.Magneetit.Magneetti)</dd>

        <dt>@Html.DisplayNameFor(model => model.Paletit.Paletti)</dt>

        <dd>@Html.DisplayFor(model => model.Paletit.Paletti)</dd>

        <dt>@Html.DisplayNameFor(model => model.Piirustukset.Piirustusnro)</dt>

        <dd>@Html.DisplayFor(model => model.Piirustukset.Piirustusnro)</dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RoottoriID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
