@model RoottoriV1._2.Models.Roottorit

@{
ViewBag.Title = "Details";
}
<h4>Mallin yhteenveto</h4>

<div>
    <hr />
    <div class="container">
        <div class="row">
            <div class="col">
                <h5>@Html.DisplayNameFor(model => model.Malli)</h5>
                <p>@Html.DisplayFor(model => model.Malli)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.RaakaAine)</h5>
                <p>@Html.DisplayFor(model => model.RaakaAine)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Pituus)</h5>
                <p>@Html.DisplayFor(model => model.Pituus)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Halkaisija)</h5>
                <p>@Html.DisplayFor(model => model.Halkaisija)<p>
                <hr />
                </div>
            <div class="col-4">
                <h5>@Html.DisplayNameFor(model => model.Kiinnityspinta)</h5>

                <p>@Html.DisplayFor(model => model.Kiinnityspinta)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.OhjNrot)</h5>

                <p>@Html.DisplayFor(model => model.OhjNrot)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Karjet.KarkiMalli)</h5>

                <p>@Html.DisplayFor(model => model.Karjet.KarkiMalli)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Koneet.Kone)</h5>

                <p>@Html.DisplayFor(model => model.Koneet.Kone)</p>
                <hr />
            </div>
            <div class="col-sm">
                <h5>@Html.DisplayNameFor(model => model.Leuat.Leuat1)</h5>

                <p>@Html.DisplayFor(model => model.Leuat.Leuat1)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Magneetit.Magneetti)</h5>

                <p>@Html.DisplayFor(model => model.Magneetit.Magneetti)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Paletit.Paletti)</h5>

                <p>@Html.DisplayFor(model => model.Paletit.Paletti)</p>
                <hr />
                <h5>@Html.DisplayNameFor(model => model.Piirustukset.Piirustusnro)</h5>

                <p>@Html.DisplayFor(model => model.Piirustukset.Piirustusnro)</p>
                <hr />
            </div>
        </div>
    </div>
</div>
     <a class="btn button2" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
