﻿@model RoottoriV1._2.Models.Roottorit
@{
    ViewBag.Title = "E6R";
}


@*Asetus näkymille ei tarvita omaa Edit näkymää koska muokkaukset tulevat Roottorit/Edit sivun kautta*@

<div class="container">
    <div class="row">
        <div class="col-sm-4">
            <h2>E6R Asetustiedot </h2>
        </div>
        <div class="col-sm">
            <a class="btn button2" href="~/Home/Index">Alkuun</a>
            <a class="btn button2" href="~/MalliE6RTyokalut/Index">Työkalut</a>
        </div>
        <hr />
    </div>
</div>
<head>

</head>
<body>


    <div class="grid-container">
        @*Ensimmäiset rivit                         *@
        <div class="grid-item1">Malli</div>
        <div class="grid-item1">@Model.Malli</div>

        @*                         *@
        <div class="grid-item">Raaka Aine</div>
        <div class="grid-item">@Model.RaakaAine</div>

        @*                         *@
        <div class="grid-item1">Pituus</div>
        <div class="grid-item1">@Model.Pituus</div>

        @*                         *@
        <div class="grid-item">Halkaisija</div>
        <div class="grid-item">@Model.Halkaisija</div>

        @*                         *@
        <div class="grid-item1">Kiinnityspinta</div>
        <div class="grid-item1">@Model.Kiinnityspinta</div>

        @*                           *@
        <div class="grid-item">OhjNrot</div>
        <div class="grid-item">@Model.OhjNrot</div>

        @*                          *@
        <div class="grid-item1">Kone</div>
        <div class="grid-item1">@Model.Koneet.Kone</div>

        @*                          *@
        <div class="grid-item">Leuka Asetus</div>
        <div class="grid-item">@Model.Leuat.LeukaAsetus</div>

        @*                          *@
        <div class="grid-item1">Leuka Paine</div>
        <div class="grid-item1">@Model.Leuat.Leukapaine</div>

        @*                          *@
        <div class="grid-item">KärkiMalli</div>
        <div class="grid-item">@Model.Karjet.KarkiMalli</div>

        @*                          *@
        <div class="grid-item1">Magneetti</div>
        <div class="grid-item1">@Model.Magneetit.Magneetti</div>

        @*                          *@
        <div class="grid-item">Paletti</div>
        <div class="grid-item">@Model.Paletit.Paletti</div>

        @*                          *@
        <div class="grid-item1">PiirustusNro</div>
        <div class="grid-item1">@Model.Piirustukset.Piirustusnro</div>

    </div>
</body>


