@model RoottoriV1._2.Models.Roottorit

@{
    ViewBag.Title = "Roottori";
}

<h3>Suunnittelu näkymä @Model.Malli</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.RoottoriID)
    @Html.HiddenFor(model => model.Malli)


    <div class="form-group">
        @Html.LabelFor(model => model.RaakaAine, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.RaakaAine, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.RaakaAine, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Pituus, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Pituus, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Pituus, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Halkaisija, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Halkaisija, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Halkaisija, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Kiinnityspinta, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Kiinnityspinta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Kiinnityspinta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.OhjNrot, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.OhjNrot, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.OhjNrot, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KoneID, "Kone", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("KoneID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KoneID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.KarkiID, "Karki", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("KarkiID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.KarkiID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LeukaID, "Leuka asetus", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("LeukaID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.LeukaID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.MagneettiID, "Magneetti", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("MagneettiID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.MagneettiID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PalettiID, "Paletti", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PalettiID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PalettiID, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.PiirustusID, "Piirustus nro", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("PiirustusID", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.PiirustusID, "", new { @class = "text-danger" })
        </div>
    </div>

    <br />
    <div class="container">
        <div class="row">
            <div class="col-auto">
                <a class="btn btn-info" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);"><img src="~/Icons/arrow-left.svg" width="24" height="24" /></a>
            </div>
            <div class="col-auto">
                <input class="btn btn-success" data-toggle="tooltip" data-placement="bottom" title="Talenna" type="image" src="~/Icons/save.svg" />
            </div>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
