﻿﻿@model RoottoriV1._2.Models.Logins


@*Modal -tyyppisen ikkunan koodiesimerkki*@
<div class="modal fade" id="LoginRuutu" tabindex="-1" role="dialog" aria-labelledby="LoginRuutuLabel" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1>Kirjautuminen</h1>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Authorize", "Home", FormMethod.Post, new { id = "loginForm" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-horizontal">
                        <h5 style="background-image: linear-gradient(to right,#ffe6f2, #80bfff); "><img src="~/Icons/lock.svg" width="32" height="32" /><img src="~/Icons/people.svg" width="32" height="32" /></h5>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.LoginID)

                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.PassWord, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.PassWord, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.PassWord, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <label class="text-danger">
                            @Html.DisplayFor(model => model.LoginErrorMessage)
                        </label>

                    </div>
                }
            </div>
            <div class="modal-footer">
                <div>
                    @*Formin lähettävä button, joka ei kuitenkaan ole formin sisällä, mutta viittaa formin ID:hen*@
                    <button type="submit" class="btn btn-primary" form="loginForm" style="height:50px;width:150px"><img src="~/Icons/check-circle.svg" width="32" height="32" /><i class="fas fa-check"></i></button>
                    @*Kontrollerin kutsu Url.Action -komennolla, jotta peruuttaminen johtaa alkutilanteeseen*@
                    <a href="@Url.Action("Index", "Home")" class="btn btn-primary" style="height:50px;width:150px"><img src="~/Icons/x-lg.svg" width="32" height="32" /><i class="fas fa-times"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
