@model RoottoriV1._2.Models.Viestit

@{
    ViewBag.Title = "Uusi viesti";
}
<h3>Viestit</h3>
<hr />
<h4>Kirjoita uusi viesti</h4>

@using (Html.BeginForm("Create", "Viestit", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.Label("Viesti", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Message" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Lahettaja, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Lahettaja, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Lahettaja, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Aika", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="Aika" value="@ViewBag.Aika" class="form-control" readonly />
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Istunto", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <input type="text" name="laiteNimi" value="@ViewBag.laiteNimi" class="form-control" readonly />
            </div>
        </div>

        <!-- Image Capture Section -->
        <div class="form-group">
            @Html.Label("Capture Image", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div id="my_camera"></div>
                <br />
                <input type="button" value="Take Snapshot" onclick="take_snapshot()" class="btn btn-primary" />
                <input type="hidden" name="image" id="image">
                <div id="results"></div>
            </div>
        </div>

        <br />
        <div class="container">
            <div class="row">
                <div class="col-auto">
                    <a class="btn button2" data-toggle="tooltip" data-placement="bottom" title="Takaisin" href="javascript:void(0);" onclick="history.go(-1);">Takaisin</a>
                </div>
                <div class="col-auto">
                    <input type="submit" value="Talleta" class="btn button3" />
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/webcamjs-master/webcam.min.js"></script>
    <script language="JavaScript">
        document.addEventListener("DOMContentLoaded", function () {
            
            Webcam.set({
                width: 320,
                height: 240,
                image_format: 'jpeg',
                jpeg_quality: 90
            });

            Webcam.attach('#my_camera');
        });

        
        function take_snapshot() {
            Webcam.snap(function (data_uri) {
                document.getElementById('image').value = data_uri;
                document.getElementById('results').innerHTML =
                    '<img src="' + data_uri + '" style="width:100%; max-width:320px;"/>';
            });
        }
    </script>
}
