@model IEnumerable<RoottoriV1._2.Models.Viestit>
@using (Html.BeginForm("Search", "Viestit", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" class="form-control mx-1" placeholder="Hae viesteistä" />
        <div class="input-group-append">
            <span class="mx-1"></span>
            <input type="submit" value="Hae" class="btn button2" />            
        </div>
    </div>
}

@{
    ViewBag.Title = "Index";
}

<h2>Viestit</h2>

<p>
    
    <a href="/Viestit/Create" class="btn button2">Uusi viesti</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Sisalto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lahettaja)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Aika)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Sisalto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lahettaja)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Aika)
            </td>
            <td>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.ViestiId }, new { @class = "btn button2 btn-sm" }) 
                @*@Html.ActionLink("Details", "Details", new { id = item.ViestiId }) |*@
                @Html.ActionLink("Poista", "Delete", new { id = item.ViestiId },new { @class = "btn button2 btn-sm" })
            </td>
        </tr>
    }

</table>
