@model IEnumerable<RoottoriV1._2.Models.Viestit>

@using Newtonsoft.Json


@using (Html.BeginForm("Index", "Viestit", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" class="form-control mx-1" placeholder="Hae viesteistä" />
        <div class="input-group-append">
            <span class="mx-1"></span>
            <input type="submit" value="Hae" class="btn button2" />
        </div>
    </div>
}

@{
    ViewBag.Title = "Index";
}
<head>
    <title></title>
    <meta http-equiv="refresh" content="15" />
</head>
<h2>Viestit</h2>

<p>
    <a href="/Viestit/Create" class="btn button2">Uusi viesti</a>
</p>

<table class="table table-striped">
    <thead class="table-success">
        <tr>
            <th>Sisältö</th>
            <th>Kuva</th>
            <th>Lähettäjä</th>
            <th>Aika</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        var Notification = (item.Luettu == 0) ? "notify" : "";

        <tr class=@Notification>
            <td>@Html.DisplayFor(modelItem => item.Message)</td>
            <td>
                @if (!string.IsNullOrEmpty(item.Sisalto))
                {
                    var image = JsonConvert.DeserializeObject<dynamic>(item.Sisalto)?.Image;
                    if (image != null)
                    {
                        <img src="@image" width="100" height="80" />
                    }
                }
            </td>
            <td>@Html.DisplayFor(modelItem => item.Lahettaja)</td>
            <td>@Html.DisplayFor(modelItem => item.Aika)</td>
            @if (ViewBag.Host != item.Laite)
            {
                <td><img src="~/Icons/inboxPNG.png" width="24" height="20" /></td>
            }
            else
            {
                <td><img src="~/Icons/envelope.svg" width="24" height="20" /></td>
            }
            <td>
                <a data-toggle="tooltip" data-placement="bottom" title="Merkitse luetuksi" class="btn button2 btn-sm" href="/Viestit/LueViestit?id=@item.ViestiId"><img src="~/Icons/check.svg" width="45" height="20" /></a>
                @Html.ActionLink("Muokkaa", "Edit", new { id = item.ViestiId }, new { @class = "btn button2 btn-sm " })
                @Html.ActionLink("Poista", "Delete", new { id = item.ViestiId }, new { @class = "btn button2 btn-sm" })
            </td>
        </tr>
    }
</table>
