﻿@model IEnumerable<RoottoriV1._2.Models.Viestit>

@using (Html.BeginForm("Index", "Viestit", FormMethod.Get))
{
    <div class="input-group mb-3">
        <input type="text" name="searchTerm" class="form-control mx-1" placeholder="Hae viesteistä" />
        <div class="input-group-append">
            <span class="mx-1"></span>
            <input type="submit" value="Hae" class="btn button2" />
        </div>
    </div>
}
@*-------------------Viestien Haku yllä----------------@Toni*@
@{
    ViewBag.Title = "Index";
}
<h2>Viestit</h2>

<p>
    <a href="/Viestit/Create" class="btn button2">Uusi viesti</a>
    <a class="btn button2" href="/Viestit/LueViestit">Merkitse luetuiksi</a>  @*Home Controller, Index metodi, LueViestit @Jani*@
</p>
<p>

</p>
<table class="table table-striped">
    <thead class="table-success">
        <tr>
            <th>Sisältö</th>
            <th>Lähettäjä</th>
            <th>Aika</th>
            <th></th>
            <th></th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        var Notification = (item.Luettu == 0) ? "notify" : "";


        <tr class=@Notification>
            <td>@Html.DisplayFor(modelItem => item.Message)</td>
            <td>@Html.DisplayFor(modelItem => item.Lahettaja)</td>
            <td>@Html.DisplayFor(modelItem => item.Aika)</td>
            @if (ViewBag.Host == item.Laite) {<td><img src="~/Icons/outboxPNG.png" width="24" height="20" /></td>}  
            else { <td><img src="~/Icons/inboxPNG.png" width="24" height="20"/></td> }
            <td>

                @Html.ActionLink("Muokkaa", "Edit", new { id = item.ViestiId }, new { @class = "btn button2 btn-sm " })
                @*@Html.ActionLink("Details", "Details", new { id = item.ViestiId }) |*@
                @Html.ActionLink("Poista", "Delete", new { id = item.ViestiId }, new { @class = "btn button2 btn-sm" })
            </td>
        </tr>


    }

</table>
@section Scripts{

}