@model RoottoriV1._2.Models.MalliE25Riasetus

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MalliE25Riasetus</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Karjet.KarkiMalli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Karjet.KarkiMalli)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Koneet.Kone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Koneet.Kone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Leuat.Leuat1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Leuat.Leuat1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Magneetit.Magneetti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Magneetit.Magneetti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Paletit.Paletti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Paletit.Paletti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Piirustukset.Piirustusnro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Piirustukset.Piirustusnro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Roottorit.Malli)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Roottorit.Malli)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AsetusID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
