@model RoottoriV1._2.Models.Logins

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Logins</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PassWord)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PassWord)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoginErrorMessage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoginErrorMessage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RegisterationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RegisterationDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.LoginID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
