@model IEnumerable<RoottoriV1._2.Models.MalliE25Rasetus>

@{
    ViewBag.Title = "Index";
}

<h2>E25R Asetus näkymä</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Karjet.KarkiMalli)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Koneet.Kone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Leuat.Leuat1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Magneetit.Magneetti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paletit.Paletti)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Piirustukset.Piirustusnro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roottorit.Malli)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Karjet.KarkiMalli)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Koneet.Kone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Leuat.Leuat1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Magneetit.Magneetti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Paletit.Paletti)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Piirustukset.Piirustusnro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Roottorit.Malli)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AsetusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AsetusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AsetusID })
        </td>
    </tr>
}

</table>
